apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-nginx
spec:
  replicas: 10
  selector:
    matchLabels:
      app: demo-nginx
  template:
    metadata:
      labels:
        app: demo-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.28
          ports:
            - containerPort: 80
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ton-application
  annotations:
    notifications.argoproj.io/subscribe.on-deployed.slack: k8s-deployment-status
    notifications.argoproj.io/subscribe.on-sync-failed.slack: k8s-deployment-status
    notifications.argoproj.io/subscribe.on-health-degraded.slack: k8s-deployment-status
    notifications.argoproj.io/subscribe.on-sync-status-unknown.slack: k8s-deployment-status
